.my_trajects {
   display : flex;
   justify-content: space-around;
}

.my_trajects .traject_view {
    background-color:  #fff;
    padding: 10px 20px;
    margin: 15px;
}

.my_trajects form{
    background-color:  #fff;
    padding: 10px 20px;
    margin: 15px;
}